absl-py==2.3.1
aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
altair==5.5.0
annotated-doc==0.0.5
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
audioop-lts==0.2.1
audioread==3.0.1
av==13.1.0
babel==2.17.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
catboost==1.2.8
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.4.2
cloup==3.0.7
colorama==0.4.6
comm==0.2.2
comtypes==1.4.14
contourpy==1.3.2
cssselect==1.4.0
cycler==0.12.1
dataclasses==0.6
DateTime==5.5
deap==1.4.3
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django==5.2
e==1.4.5
emoji==2.14.1
et_xmlfile==2.0.0
executing==2.2.0
fake-useragent==2.2.0
fastapi==0.141.1
fastembed==0.8.0
fastjsonschema==2.21.1
filelock==3.18.0
Flask==3.1.1
flask-cors==6.0.2
flatbuffers==25.12.19
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.5.1
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
glcontext==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphviz==0.21
greenlet==3.5.0
groq==0.37.1
grpcio==1.74.0
grpcio-status==1.71.2
gunicorn==26.0.0
h11==0.16.0
h2==4.4.1
h5py==3.14.0
hf-xet==1.6.0
hpack==4.2.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.8.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.27.0
hyperframe==6.1.0
idna==3.10
ImageIO==2.37.2
imbalanced-learn==0.14.2
imblearn==0.0
importlib_metadata==9.0.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
isosurfaces==0.1.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
json5==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keras==3.11.1
kiwisolver==1.4.8
langchain==1.3.15
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-core==1.5.5
langchain-groq==1.1.3
langchain-protocol==0.0.18
langchain-text-splitters==1.1.2
langgraph==1.2.11
langgraph-checkpoint==4.2.0
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langsmith==0.11.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
lightgbm==4.6.0
llvmlite==0.44.0
loguru==0.7.3
lxml==6.1.0
manim==0.19.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.31
minio==7.2.20
missingno==0.5.2
mistune==3.1.3
ml_dtypes==0.5.3
mmh3==5.2.1
moderngl==5.12.0
moderngl-window==3.1.1
monai==1.5.2
mpmath==1.3.0
msgpack==1.1.1
multidict==6.7.1
namex==0.1.0
narwhals==1.41.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.7
notebook==7.4.2
notebook_shim==0.2.4
numba==0.61.2
numpy==2.2.4
Omnibrain @ file:///A:/Projects/OmniBrain
onnxruntime==1.28.0
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
orjson==3.12.0
ormsgpack==1.12.2
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parse==1.22.0
parso==0.8.4
pillow==11.1.0
platformdirs==4.3.7
playwright==1.59.0
plotly==6.1.2
pooch==1.8.2
portalocker==3.2.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.5.2
proto-plus==1.26.1
protobuf==5.29.6
psutil==7.0.0
pure_eval==0.2.3
py_rust_stemmers==0.1.8
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.27.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.15.0
pydantic_core==2.41.5
pydeck==0.9.1
pydicom==3.0.1
pydub==0.25.1
pyee==13.0.1
pyglet==2.1.3
pyglm==2.8.1
Pygments==2.19.1
pymupdf==1.28.2
PyOpenGL==3.1.9
pyparsing==3.2.3
pypdf==6.16.1
pypiwin32==223
pyquery==2.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==3.3.0
python-multipart==0.0.32
pytorch-ignite==0.5.2
pyttsx3==2.99
pytz==2025.2
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
qdrant-client==1.19.0
referencing==0.36.2
regex==2024.11.6
requests==2.34.2
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.24.0
rsa==4.9.1
rt-utils==1.2.7
scikit-image==0.26.0
scikit-learn==1.7.0
scipy==1.15.2
screeninfo==0.8.1
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==80.3.1
simsimd==6.5.12
six==1.17.0
skia-pathops==0.8.0.post2
sklearn-compat==0.1.6
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.3
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
SQLAlchemy==2.0.52
sqlparse==0.5.3
srt==3.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==1.6.0
streamlit==1.45.1
stringzilla==4.5.1
svgelements==1.9.6
sympy==1.14.0
tabulate==0.9.0
tcia_utils==3.2.1
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0rc0
termcolor==3.1.0
terminado==0.18.1
textblob==0.19.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.12.20
tinycss2==1.4.0
tkcalendar==1.6.1
tokenizers==0.23.1
toml==0.10.2
torch==2.7.0
torch-optim==0.0.4
torch-pruning==1.5.2
torchaudio==2.11.0
torchsummary==1.5.1
torchvision==0.22.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.1
Unidecode==1.4.0
uri-template==1.3.0
uritemplate==4.2.0
uritools==5.0.0
urlextract==1.9.0
urllib3==1.26.20
uuid_utils==0.17.0
uvicorn==0.52.3
virtualenv==20.35.4
w3lib==2.4.1
watchdog==6.0.0
watchfiles==1.2.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
win32_setctime==1.2.0
wordcloud==1.9.4
wrapt==1.17.2
xgboost==3.0.2
xxhash==4.0.0
yarl==1.24.5
yellowbrick==1.5
zipp==3.23.1
zope.interface==7.2
zstandard==0.25.0
